.about-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #f7ecd9;
  font-family: 'Segoe UI', sans-serif;
  gap: 40px;
}

.top-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.description-box {
  width: 60%;
  align-self: flex-start;
}

.about-image {
  /* width: 20%; */
  max-width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.description-box h2 {
  font-size: 2.5rem;
  color: #5a2b0c;
  font-weight: bold;
}

.description-box .description1 {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.9;
  color: #5c4033;
  margin-top: 15px;
}

.about-image{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: 60%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-detail {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5c4033;
}

.contact-detail a {
  font-weight: bold;
  color: #3e260f;
  text-decoration: none;
}

.contact-detail.map-launch button {
  background-color: #d49c6a;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.close-icon:hover {
  /* all: unset; */
  cursor: pointer;
  border-radius: 50%;
  padding: 0 5px;
  background-color: #f8d7da;
  color: darkred;
}
