.main-div{
  display: block;
}

.home-container {
  width: 100%;
  min-height: 100vh;
  display: block; /* Changed from block to flex */
  flex-direction: column;
}

.home-container .home-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: auto;
}