.vehicle-section {
  padding-bottom: 3vw;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #c6bba5;
  display: block;
}

.vehicle-section h2 {
  font-size: 2.7vw;
  font-weight: bold;
  margin: 1vw 0 1vw 0px;
}

.vehicle-carousel-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1vw;
  justify-self: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5vw 1vw;
}

.swiper {
  display: flex;
  width: 100%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
}


.vehicle-card {
  display: block;
  padding: 1.8vw;
  border-radius: 2vw;
  text-align: center;
  background-color: #f2dfae;
  font-size: 100%;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 22vw;

}

.vehicle-card.dark {
  background-color: #c9a472;
}

.vehicle-card h4 {
  margin-top: 1vw;
  margin-bottom: 0;
  font-size: 1.7vw;
}

.vehicle-card p {
  font-size: 1.2vw;
}

.vehicle-card-img-div {
  width: 100%;
  height: 10vw;
}

.vehicle-card img {
  width: 100%;
  height: 100%;
  border-radius: 0.8vw;
  object-fit: cover;
  align-self: center;
  justify-self: center;
}

.custom-arrow {
  background: none;
  border: none;
  font-size: 2vw;
  color: #444;
  z-index: 10;
  cursor: pointer;
  padding: 0 0.5rem;
  position: relative;
  top: 10px;
}

.arrow-left {
  left: 43px;
}

.arrow-right {
  right: 43px;
}

.custom-arrow:hover {
  background-color: unset;
}

@media (max-width: 1100px) {

  .vehicle-section {
    padding-bottom: 6vw;
  }

  .vehicle-section h2 {
    font-size: 4vw;
  }

  .vehicle-carousel-container {
    width: 90%;
    /* justify-content: center; */
  }

  .vehicle-card {
    height: 27vw;
  }

  .vehicle-card h4 {
    font-size: 2vw;
  }

  .vehicle-card p {
    font-size: 1.5vw;
  }

  .vehicle-card-img-div {
    height: 12vw;
  }

  .custom-arrow {
    top: 4vw;
  }

}

@media (max-width: 650px) {
  .vehicle-section {
    padding-bottom: 10vw;
  }

  .vehicle-section h2 {
    font-size: 4vw;
  }

  .vehicle-carousel-container {
    width: 80%;
  }

  .vehicle-card {
    height: 30vw;
  }

  .vehicle-card h4{
    font-size: 3vw;
  }

  .vehicle-card p{
    font-size: 1.6vw;
  }

  .vehicle-card-img-div{
    height: 14vw;
  }

  .custom-arrow{
    top: 6vw;
  }
}


@media (max-width: 500px) {
  .vehicle-section {
    padding-top: 15vw;
    padding-bottom: 10vw;
  }

  .vehicle-section h2 {
    font-size: 8vw;
    margin-bottom: 4vw;
  }

  .vehicle-carousel-container {
    width: 100%;
  }

  .vehicle-card {
    padding: 6vw;
    width: 56vw;
    font-size: 100%;
    border-radius: 5vw;
    justify-self: center;
    height: 80vw;
  }

  .vehicle-card h4 {
    font-size: 7vw;
    margin-bottom: 0;
    margin-top: 4vw;
  }

  .vehicle-card p {
    font-size: 4.5vw;
  }

  .vehicle-card-img-div {
    height: 35vw;
  }

  .vehicle-card img {
    border-radius: 4vw;
  }

  .arrow-left {
    left: 15vw;
  }

  .arrow-right {
    right: 15vw;
  }
}