:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Theme Colors */
  color: #6A4F32; /* Dark brown text */
  background-color: #F5EEDC; /* Light beige background */
  width: 100%;
  height  : 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  font-weight: 500;
  color: #A67B5B; /* Warm brown */
  text-decoration: inherit;
}

a:hover {
  color: #8C5D42; /* Darker brown */
}

/* Body */
body {
  margin: 0;
  display: flex;
  place-items: center;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #6A4F32; /* Dark brown */
}

/* Buttons */
button {
  border-radius: 0.8vw;
  border: 1px solid transparent;
  padding: 0.7vw 1.2vw;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: inherit;
  background-color: #A67B5B; /* Warm brown */
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #8C5D42; /* Darker brown */
}

/* Light Mode Adjustments */
@media (prefers-color-scheme: light) {
  :root {
    color: #6A4F32;
    background-color: #F5EEDC;
  }
  a:hover {
    color: #8C5D42;
  }
  button {
    background-color: #A67B5B;
  }
}
